<ion-header  class="ion-padding">
  <ion-item-group class ="header__wrapper">
      <ion-avatar class="header__icon">
        <ion-icon name="person" class="header__iperson"></ion-icon></ion-avatar>
    <ion-label class="header__label">WELCOME BACK</ion-label>
  </ion-item-group>
</ion-header>

<ion-content class="ion-padding">
  <app-explore-container></app-explore-container>
 
  <ion-item-group class ="header__wrapper">
    <ion-router-link class="question">Don't have an account?</ion-router-link><br />
    <ion-router-link class="question">Request an account to Admin user</ion-router-link>
</ion-item-group>
  

  

</ion-content>
