
<ion-content class="ion-padding">
  <ion-item-group class ="header__wrapper">
    <ion-avatar class="header__icon">
      <ion-icon name="person" class="header__iperson"></ion-icon></ion-avatar>
  <ion-label class="header__label">WELCOME BACK</ion-label>
</ion-item-group>
<form  [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <input type="text" formControlName="username" class ="inputname" placeholder="Username"required>
  <input type="password" formControlName="password" class ="inputname" placeholder="Password"required>
  <p  routerLink="/home"  class = "forgot-password" >Forgot Password?</p>
  <ion-button class ="btn-signin"  type="submit">Sign in My Account</ion-button>
</form>
 
  <ion-item-group class ="question__wrapper">
    <p  routerLink="/home" class="question">Don't have an account?</p>
    <p  routerLink="/home" class="question">Request an account to Admin user</p>
</ion-item-group>

</ion-content>
