.content__wrapper {
    display: block;
    
    .content__icon-back {
        font-size: 20px;
        margin-top: 32px;
        margin-bottom: 62px;
    }
    .content__label-input {
        color: #a8afbc;
        font-size: 12px;
        margin-bottom: 10px;
        outline: none;
        font-family: 'Open Sans', sans-serif;
    }
    .content__input {
        font-family: 'Open Sans', sans-serif;
        height: 32px;
        color: #a8afbc;
        border-radius: 6px;
        border: 1px solid #aeb2b5;
        padding: 0 6px;
        width: 100%;
        &:focus {
            outline: none;
        }
    }
    .content__btn-change {
        width: 100%;
        --background-color: #c90a1b;
        border-radius: 4px;
        --background: #c90a1b;
        color: white;
        margin-top: 44px;
        margin-bottom: 18px;
        height: 40px;
        margin-inline-start: 0;
        margin-inline-end: 0;
    }
    .content__btn-change.content__btn-cancel {
        --background-color: white;
        margin-top: 0px;
        --background: white;
        color: #aeb2b5;
    }
}

