
ion-toolbar {
    --padding-end: 0px;
    --padding-start: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
}
.img-logo {
    width: 100%;
    height: 72px;
    background: linear-gradient(to bottom,#f53d2d,#ff6633);
    // background-image: url(../../assets/images/shopee.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    border-top: 0px;
}
img.image-logo {
    width: 155px;
    margin-left: 3px;
    max-width: 155px;
}
ion-toolbar {
    position: relative;
}
toolbar-container {
    color: linear-gradient(to bottom,#f53d2d,#ff6633);
}
ion-icon {
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    background: linear-gradient(to bottom,#f53d2d,#ff6633);
}
ion-icon.icon-person {
    position: absolute;
    font-size: 50px;
    top: 4px;
    right: 28px;
    margin-right: -9px;
    padding: 13px 16px 4px 0;
}
ion-icon.icon-caret {
    font-size: 20px;
    right: 0px;
    position: absolute;
    top: 12px;
    padding: 26px 13px 13px 5px;
}
ion-item {
    --inner-padding-end: 0px;
    --padding-start: 0px;
    --min-height: 0;
    padding-inline-end: 0;
    padding-top: 0;
}
.under__wrapper {
    width: 100%;
    height: 215px;
    background-color: #cfcfcc;
    border: 1px solid #eeeeee;
    border-bottom: 6px solid #eeeeee;
}

.item-image {
    border: 1px;
    border-radius: 50%;
}
.image-wrapper {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 7px; 
    margin: 0 auto;
    height: 75px;
    width: 75px;
}
img {
    width: 60px;
    height: 60px;
    max-width: 60px;
}
ion-label {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;;
    color: black;
    display: flex;
    justify-content: center;
    margin-top: 6px;
}
.promotion.item-native {
    padding-top: 0px;
    padding-bottom: 0px;
}
.promotion {
    height: 192px;
    background-color: #cfcfcc;
}

ion-item-divider {
    height: 26px;
}
ion-card {
   margin-top: 0;
   margin-bottom: 16px;
   box-shadow: none;
   border-radius: 0px;
   border-radius: none;
}
ion-card-title {
    border-radius: 0;
    height: 192px;
    border-bottom: 1px solid white;
    box-shadow: none;
    background-color: #cfcfcc;
}
ion-card-content {
    box-shadow: none;
   display: flex;
   justify-content: center;
    background-color: #77ccde;
}
ion-card-header {
    padding: 0;
    border-radius: none;
}
.text-card {
    height: 26px;
    padding: 13px 0;
    font-size: 18px;
    text-align: center;
    color: black;
}
.card-last {
    margin-bottom: 120px;
}