<ion-header>
  <ion-toolbar>  
    <ion-thumbnail class="img-logo">
    </ion-thumbnail>
      <ion-icon name="person-circle-outline"  slot="end" class="icon-person"></ion-icon>
      <ion-icon name="caret-down-outline" slot ="end" class="icon-caret"></ion-icon>
  </ion-toolbar> 
</ion-header>
<ion-content>
    <ion-item class="under__wrapper">
    </ion-item>
    <ion-grid class="ion-padding">
      <ion-row>
        <ion-col>
          <ion-avatar class="image-wrapper">
            <img src="../../assets/images/giaohang.jpg" alt="" class="item-image">
          </ion-avatar>
          <ion-label>
            <span>Giao hàng</span>
          </ion-label>
        </ion-col>
        <ion-col>
          <ion-avatar class="image-wrapper">
            <img src="../../assets/images/datcho.jpg" alt="" class="item-image">
          </ion-avatar>
          <ion-label> <span>Đặt chỗ</span></ion-label>
        </ion-col>
        <ion-col>
          <ion-avatar class="image-wrapper">
            <img src="../../assets/images/dovui.png" alt="" class="item-image">
          </ion-avatar>
          <ion-label>Đố vui</ion-label>
        </ion-col>
        <ion-col>
          <ion-avatar class="image-wrapper">
            <img src="../../assets/images/tintuc.png" alt="" class="item-image">
          </ion-avatar>
          <ion-label>Tin tức</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- <ion-item class="ion-padding">

      <ion-item class="under__wrapper-pro">
      </ion-item>
    </ion-item> -->
    <ion-card>
      <ion-card-header>
        <ion-card-title></ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <span class="text-card">Khuyễn mãi tin tức nổi bật</span>
      </ion-card-content>
    </ion-card>
    <ion-card class="card-last">
      <ion-card-header>
        <ion-card-title></ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <span class="text-card">Khuyễn mãi tin tức nổi bật</span>
      </ion-card-content>
    </ion-card>
  
</ion-content>
